/* pages/game1Page/game1Page.wxss */
.game-1-wrapper{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game-1-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  .header-wrapper {
    font-family: PingFangSC;
    font-weight: 600;
    font-size: 51rpx;
    line-height: 66rpx;
    font-style: normal;
    position: absolute;
    left: 52rpx;
    top: 122rpx;

    .text-1 {
      color: #540016;
    }

    .text-2 {
      color: #d01145;
    }
  }
  .game-title{
    width: 693rpx;
    height: 50rpx;
    position: absolute;
    left: 20rpx;
    top: 335rpx;
    background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game-1-title.png) no-repeat;
    background-size: cover;
  }
}