/* pages/cheersPage/cheersPage.wxss */
.cheers-wrapper {
  width: 100%;
  height: 100vh;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/bubblyActivity/images/cheers-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  box-sizing: border-box;

  .cheers-first {
    position: relative;
    box-sizing: border-box;

    .glass {
      width: 303.24rpx;
      height: 939.36rpx;
      position: absolute;
      left: 50%;
      top: 313.11rpx;
      transform: translateX(-50%);
    }

    .cheers {
      width: 363.05rpx;
      height: 86.86rpx;
      position: absolute;
      left: 50%;
      top: 1332.92rpx;
      transform: translateX(-50%);
    }
  }

  .cheers-last {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }



  .my-video {
    position: absolute;
    left: 100%;
    bottom: 100%;
    width: 100vw;
    height: 100vh;
  }

  .show-video {
    left: 0;
    bottom: 0;
  }
}