/* pages/homePage/homePage.wxss */
.home-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1625rpx;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/home-bg.png) no-repeat;
  background-size: 100% 1625rpx;
  background-attachment: scroll;
  overflow: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;

  .header-wrapper {
    font-family: PingFangSC;
    font-weight: 600;
    font-size: 51rpx;
    line-height: 66rpx;
    font-style: normal;
    position: absolute;
    left: 52rpx;
    top: 122rpx;

    .text-1 {
      color: #540016;
    }

    .text-2 {
      color: #d01145;
    }
  }

  .rule-flow {
    width: 446rpx;
    height: 50rpx;
    position: absolute;
    left: 145rpx;
    top: 335rpx;
    background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/rule-flow.png) no-repeat;
    background-size: cover;
  }

  .flow-wrapper {
    margin-top: 419rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 28rpx;

    .game {
      width: 694rpx;
      height: 303rpx;
      position: relative;

      .game-num {
        font-family: PingFangSC;
        font-weight: 600;
        font-size: 42rpx;
        line-height: 59rpx;
        font-style: normal;
        color: #FFEFEF;
        position: absolute;
        left: 88rpx;
        top: 52rpx;
      }

      .title {
        font-family: PingFangSC;
        font-weight: 600;
        font-size: 30rpx;
        line-height: 42rpx;
        font-style: normal;
        position: absolute;
        left: 88rpx;
        top: 101rpx;
      }

      .explain {
        width: 330rpx;
        height: 90rpx;
        font-family: PingFangSC;
        font-weight: 500;
        font-size: 22rpx;
        line-height: 30rpx;
        font-style: normal;
        position: absolute;
        left: 88rpx;
        top: 158rpx;
      }

      .game-num-1 {
        color: #ffeeee;
        position: absolute;
        left: 90rpx;
        top: 52rpx;
      }

      .game-num-2 {
        color: #eaf7ff;
        position: absolute;
        left: 88rpx;
        top: 62rpx;
      }

      .game-num-3 {
        color: #e1fbfb;
      }

      .title-1 {
        color: #6b0c04;
      }

      .title-2 {
        color: #343d6f;
        position: absolute;
        left: 88rpx;
        top: 111rpx;
      }

      .title-3 {
        color: #04306b;
      }

      .explain-1 {
        color: #886166;
        position: absolute;
        left: 88rpx;
        top: 150rpx;
      }

      .explain-2 {
        color: #7b80a0;
      }

      .explain-3 {
        color: #617e88;
        position: absolute;
        left: 88rpx;
        top: 148rpx;
      }

      .gif-1 {
        width: 170rpx;
        height: 199rpx;
        position: absolute;
        top: 52rpx;
        right: 54rpx;
      }

      .gif-2 {
        width: 228rpx;
        height: 165rpx;
        position: absolute;
        top: 62rpx;
        right: 17rpx;
      }

      .gif-3 {
        width: 260rpx;
        height: 144rpx;
        position: absolute;
        top: 71rpx;
        right: 1rpx;
      }
    }

    .game-1-not-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game1-not-pass.png) no-repeat;
      background-size: cover;
    }

    .game-1-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game1-pass.png) no-repeat;
      background-size: cover;
    }

    .game-2 {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game2-bg.png) no-repeat;
      background-size: cover;
    }

    .game-2-not-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game2-not-pass.png) no-repeat;
      background-size: cover;
    }

    .game-2-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game2-pass.png) no-repeat;
      background-size: cover;
    }

    .game-3 {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game3-bg.png) no-repeat;
      background-size: cover;
    }

    .game-3-not-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game3-not-pass.png) no-repeat;
      background-size: cover;
    }

    .game-3-pass {
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/game3-pass.png) no-repeat;
      background-size: cover;
    }



  }

  .gift-box {
    width: 690rpx;
    height: 352rpx;
    background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/gift-box.png) no-repeat;
    background-size: contain;
    margin-bottom: 59rpx;
    display: flex;
    justify-content: center;

    .content {
      margin-top: 163rpx;
      .text {
        width: 450rpx;
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 28rpx;
        color: #EC5E84;
        line-height: 40rpx;
        font-style: normal;
      }
    }

  }

}