/* pages/homePage/homePage.wxss */
.home-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/home-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .header-wrapper {
    font-family: PingFangSC;
    font-weight: 600;
    font-size: 65rpx;
    line-height: 80rpx;
    font-style: normal;
    position: absolute;
    left: 46rpx;
    top: 132rpx;

    .text-1 {
      color: #540016;
    }

    .text-2 {
      color: #d01145;
    }
  }

  .rule-flow {
    width: 446rpx;
    height: 50rpx;
    position: absolute;
    left: 145rpx;
    top: 395rpx;
    background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/rule-flow.png) no-repeat;
    background-size: cover;
  }

  .flow-wrapper {
    margin-top: 483rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 37rpx;
    .flow {
      width: 690rpx;
      height: 260rpx;
      border-radius: 80rpx;
    }

    .flow-1 {
      background: linear-gradient(117deg, #fff5f5 0%, #fff9ed 100%);
    }

    .flow-2 {
      background: linear-gradient(117deg, #fcf5ff 0%, #f7feff 100%);
    }

    .flow-3 {
      background: linear-gradient(117deg, #effdff 0%, #f4fcf7 100%);
    }
  }


}