/* pages/cheersPage/cheersPage.wxss */
.cheers-wrapper {
  width: 100%;
  height: 100vh;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/bubblyActivity/images/cheers-bg.png) no-repeat;
  background-size: 100% 100%;
  position: relative;
  box-sizing: border-box;

  .glass {
    width: 230.24rpx;
    height: 774.36rpx;
    position: absolute;
    left: 50%;
    top: 260.11rpx;
    transform: translateX(-50%);
  }

  .cheers {
    width: 363.05rpx;
    height: 86.86rpx;
    position: absolute;
    left: 50%;
    top: 1125.92rpx;
    transform: translateX(-50%);
  }

  .hidden-video,
  .my-video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover; // 添加此行以确保视频填充整个视口
  }

  .show-video {
    z-index: 0;
  }
}