/* pages/demo/demo.wxss */

.loding-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;

  .loader {
    width: 260rpx;
  }
}

.gyroscope-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/swiper-bg.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;

  .guide-title {
    width: 476rpx;
    height: 150rpx;
    position: absolute;
    top: 254rpx;
    left: 50%;
    transform: translateX(-50%);
  }

  .swiper-wrapper {
    width: 100%;
    height: 100vh;

    .custom-indicator {
      position: absolute;
      bottom: 192rpx;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;

      .indicator-dot {
        width: 12rpx;
        height: 12rpx;
        background-color: #f6c1d0;
        border-radius: 50%;
        margin: 0 4px;
        transition: background-color 0.3s;
      }

      .indicator-dot.active {
        background-color: #d01145;
      }
    }
  }

  .swiper-item {
    height: 100%;
    position: relative;
    display: flex;
    margin: 0 auto;

    .pharmacist-all {
      width: 609rpx;
      height: 648rpx;
      margin: 0 auto;
      margin-top: 553rpx;
    }
  }

  .swiper-item-1 {
    width: 610rpx;
    height: 648rpx;
    margin: 0 auto;
    margin-top: 553rpx;
    position: relative;

    .shop-girl {
      width: 290rpx;
      height: 608rpx;
      position: absolute;
      right: 0rpx;
      opacity: 0;
      transform-origin: left bottom;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/shop-girl.png) no-repeat;
      background-size: contain;
    }

    .shop-man {
      width: 350rpx;
      height: 638rpx;
      position: absolute;
      left: 100rpx;
      opacity: 0;
      transform-origin: left bottom;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/shop-man.png) no-repeat;
      background-size: contain;
    }

    .goods {
      width: 210rpx;
      height: 220rpx;
      position: absolute;
      top: 323rpx;
      left: 0rpx;
      opacity: 0;
      transform-origin: right bottom;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/goods.png) no-repeat;
      background-size: contain;

    }

    .cart {
      width: 380rpx;
      height: 340rpx;
      position: absolute;
      bottom: 0rpx;
      left: -8rpx;
      opacity: 0;
      transform-origin: right bottom;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/cart.png) no-repeat;
      background-size: contain;
    }

    .cart-bottom {
      width: 650rpx;
      height: 50rpx;
      border-radius: 50%;
      position: absolute;
      bottom: -20rpx;
      left: 50%;
      z-index: -1;
      opacity: 0;
      transform-origin: center;
      transform: translateX(-50%);
      background: rgb(204 202 233);
    }
  }

  .swiper-item-3 {
    width: 100%;
    height: 438.61rpx;
    margin-top: 443rpx;
    position: relative;

    .discuss-bg-2 {
      width: 100%;
      height: 100%;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-bg-2.png) no-repeat;
      background-size: contain;
    }

    .discuss-bg-1 {
      width: 80%;
      height: 50%;
      position: absolute;
      bottom: 0px;
      left: 70rpx;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-bg-1.png) no-repeat;
      background-size: contain;
    }

    .discuss-bg-3 {
      width: 86%;
      height: 36%;
      position: absolute;
      bottom: 0px;
      right: 40rpx;
      z-index: 10;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-bg-3.png) no-repeat;
      background-size: contain;
    }

    .discuss-bg-4 {
      width: 100%;
      height: 105rpx;
      position: absolute;
      bottom: -75rpx;
      left: 0rpx;
      z-index: 20;
      opacity: 0;
      transform-origin: center top;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-bg-4.png) no-repeat;
      background-size: contain;
    }

    .discuss-man {
      width: 200rpx;
      height: 300rpx;
      position: absolute;
      bottom: 0rpx;
      left: 110rpx;
      z-index: 5;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-man.png) no-repeat;
      background-size: contain;

    }

    .discuss-girl-1 {
      width: 200rpx;
      height: 300rpx;
      position: absolute;
      bottom: 0rpx;
      right: 120rpx;
      z-index: 5;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-girl-1.png) no-repeat;
      background-size: contain;
    }

    .discuss-girl-2 {
      width: 180rpx;
      height: 320rpx;
      position: absolute;
      bottom: 0rpx;
      right: 320rpx;
      z-index: 4;
      opacity: 0;
      transform-origin: bottom center;
      background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/discuss-girl-2.png) no-repeat;
      background-size: contain;
    }

    .start-btn {
      width: 630rpx;
      height: 97rpx;
      border-radius: 62rpx;
      border: 2rpx solid #d01145;
      font-family: PingFang-SC;
      font-weight: 500;
      font-size: 36rpx;
      color: #d01145;
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      top: 718.61rpx;
      transform: translateX(-50%);
      opacity: 0;
    }

  }

}

// .demo {
//   width: 100vw;
//   height: 100vh;
//   padding-top: 553rpx;
//   box-sizing: border-box;

//   .wrapper {
//     width: 610rpx;
//     height: 648rpx;
//     margin: 0 auto;
//     position: relative;
//   }

//   .shop-girl {
//     width: 290rpx;
//     height: 608rpx;
//     position: absolute;
//     right: 0rpx;
//     opacity: 0;
//     transform-origin: left bottom;
//     background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/shop-girl.png) no-repeat;
//     background-size: contain;
//   }
// }