/* pages/guidepage/guidePage.wxss */
.wrapper {
  .loding-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    overflow: hidden;
    background-color: #fff;

    .loader {
      width: 260rpx;
    }
  }

  .guidance-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/swiper-bg.png) no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .guide-title {
      width: 476rpx;
      height: 150rpx;
      position: absolute;
      left: 50%;
      opacity: 0;
    }

    .swiper-wrapper {
      width: 100%;
      height: 100vh;

      .swiper-item {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        .swiper-text {
          width: 100%;
          height: 50rpx;
          position: absolute;
          left: 0rpx;
          top: 1314rpx;
          font-family: PingFang-SC;
          font-weight: 500;
          font-size: 36rpx;
          color: #E88AA3;
          line-height: 50rpx;
          font-style: normal;
          text-align: center;
          opacity: 0;
        }

        .swiper-label {
          width: 184rpx;
          height: 83rpx;
          opacity: 0;
        }
      }

      .swiper-item-1 {
        width: 610rpx;
        height: 648rpx;
        margin: 0 auto;
        margin-top: 553rpx;
        position: relative;

        .shop-girl {
          width: 290rpx;
          height: 608rpx;
          position: absolute;
          right: 0rpx;
          z-index: 10;
          opacity: 0;
        }

        .shop-man {
          width: 350rpx;
          height: 638rpx;
          position: absolute;
          left: 115rpx;
          opacity: 0;
        }

        .goods {
          width: 210rpx;
          height: 220rpx;
          position: absolute;
          top: 323rpx;
          left: 0rpx;
          opacity: 0;
        }

        .cart {
          width: 380rpx;
          height: 340rpx;
          position: absolute;
          top: 298rpx;
          left: -8rpx;
          opacity: 0;
        }

        .label-1 {
          position: absolute;
          left: -39rpx;
          top: 39rpx;
        }

        .label-2 {
          position: absolute;
          right: 18rpx;
          top: -54rpx;
        }

        .label-3 {
          position: absolute;
          right: -54rpx;
          top: 340rpx;
          z-index: 11;
        }
      }

      .swiper-item-2 {
        width: 680rpx;
        height: 678rpx;
        margin: 0 auto;
        margin-top: 582rpx;
        position: relative;

        .pharmacist-man {
          width: 310rpx;
          height: 669rpx;
          position: absolute;
          left: 20rpx;
          top: 0rpx;
          opacity: 0;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/pharmacist-man.png) no-repeat;
          // background-size: contain;
          // opacity: 0;
          // transform: translateY(-100%);
          // animation: pharmacist-man 1s ease-out 0.5s forwards;
        }

        @keyframes pharmacist-man {
          0% {
            opacity: 0;
            transform: translateY(-100%);
          }

          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }

        .pharmacist-girl {
          width: 310rpx;
          height: 649rpx;
          position: absolute;
          right: 15rpx;
          bottom: 0rpx;
          opacity: 0;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/pharmacist-girl.png) no-repeat;
          // background-size: contain;
          // opacity: 0;
          // transform: translateX(100%);
          // animation: pharmacist-girl 1s ease-out 1.5s forwards;
        }

        @keyframes pharmacist-girl {
          0% {
            opacity: 0;
            transform: translateX(100%);
          }

          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        .pharmacist-pot {
          width: 308rpx;
          height: 284rpx;
          position: absolute;
          left: 239rpx;
          bottom: 0rpx;
          opacity: 0;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/pharmacist-pot.png) no-repeat;
          // background-size: contain;
          // opacity: 0;
          // transform: translateY(100%);
          // animation: pharmacist-pot 1s ease-out 2.5s forwards;
        }

        @keyframes pharmacist-pot {
          0% {
            opacity: 0;
            transform: translateY(100%);
          }

          100% {
            opacity: 1;
            transform: translateX(0%);
          }
        }

        .pill-2 {
          width: 104rpx;
          height: 103rpx;
          position: absolute;
          right: 192rpx;
          top: -60rpx;
          z-index: 11;
          opacity: 0;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/pill-2.png) no-repeat;
          // background-size: contain;
          // transform: scale(0);
          // animation: pill-2 0.5s ease-out 3.5s forwards;
        }

        @keyframes pill-2 {
          0% {
            transform: scale(0);
          }

          100% {
            transform: scale(1);
          }
        }

        .pill-1 {
          width: 40rpx;
          height: 91rpx;
          position: absolute;
          left: 272rpx;
          top: -60rpx;
          z-index: 11;
          opacity: 0;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/pill-1.png) no-repeat;
          // background-size: contain;
          // transform: scale(0);
          // animation: pill-2 0.5s ease-out 4s forwards;
        }

        @keyframes pill-1 {
          0% {
            transform: scale(0);
          }

          100% {
            transform: scale(1);
          }
        }

        // .swiper-label {
        //   animation: swiper-label 1s ease-in-out 4.5s forwards, swiper-label-bounce 1s ease-in-out 5.5s forwards;
        // }

        .label-4 {
          position: absolute;
          left: 50rpx;
          top: -90rpx;
          z-index: 11;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/label-4.png) no-repeat;
          // background-size: contain;
        }

        .label-5 {
          position: absolute;
          left: 30rpx;
          top: 170rpx;
          z-index: 11;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/label-5.png) no-repeat;
          // background-size: contain;
        }

        .label-6 {
          position: absolute;
          right: -10rpx;
          top: -40rpx;
          z-index: 11;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/label-6.png) no-repeat;
          // background-size: contain;
        }

        .label-7 {
          position: absolute;
          right: 0rpx;
          top: 390rpx;
          z-index: 11;
          // background: url(https://nav-uat.aia.com.cn/fan/sail/resource/hrActivity/images/label-7.png) no-repeat;
          // background-size: contain;
        }
      }

      .swiper-item-3 {
        width: 100%;
        height: 438.61rpx;
        margin-top: 460rpx;
        position: relative;

        .discuss-bg-2 {
          width: 100%;
          height: 100%;
          opacity: 0;
        }

        .discuss-bg-1 {
          width: 80%;
          height: 50%;
          position: absolute;
          bottom: 0rpx;
          left: 50%;
          opacity: 0;
        }

        .discuss-bg-3 {
          width: 86%;
          height: 36%;
          position: absolute;
          bottom: 0px;
          right: 40rpx;
          z-index: 10;
          opacity: 0;
        }

        .discuss-bg-4 {
          width: 100%;
          height: 193rpx;
          position: absolute;
          bottom: -176rpx;
          left: 0rpx;
          z-index: 20;
          opacity: 0;
        }

        .discuss-man {
          width: 200rpx;
          height: 300rpx;
          position: absolute;
          bottom: -20rpx;
          left: 110rpx;
          z-index: 5;
          opacity: 0;
        }

        .discuss-girl-1 {
          width: 200rpx;
          height: 300rpx;
          position: absolute;
          bottom: 0rpx;
          right: 120rpx;
          z-index: 5;
          opacity: 0;
        }

        .discuss-girl-2 {
          width: 180rpx;
          height: 320rpx;
          position: absolute;
          bottom: 0rpx;
          right: 320rpx;
          z-index: 4;
          opacity: 0;
        }

        .label-8 {
          position: absolute;
          left: 41rpx;
          top: -21rpx;
          z-index: 11;
        }

        .label-9 {
          position: absolute;
          left: 133rpx;
          top: 74rpx;
          z-index: 11;
        }

        .label-10 {
          position: absolute;
          left: 355rpx;
          top: 5rpx;
          z-index: 11;
        }

        .label-11 {
          position: absolute;
          right: 17rpx;
          top: 89rpx;
          z-index: 11;
        }
      }
    }

    .no-sliding {
      width: 100vw;
      height: 100vh;
      background-color: transparent;
      position: fixed;
      left: 0rpx;
      top: 0rpx;
      z-index: 100;
    }

    .start-btn {
      width: 630rpx;
      height: 97rpx;
      border-radius: 62rpx;
      border: 2rpx solid #d01145;
      font-family: PingFang-SC;
      font-weight: 500;
      font-size: 36rpx;
      color: #d01145;
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 50%;
      top: 1179rpx;
      z-index: 999;
      opacity: 0;
    }

    .custom-indicator {
      position: absolute;
      bottom: 192rpx;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;

      .indicator-dot {
        width: 12rpx;
        height: 12rpx;
        background-color: #f6c1d0;
        border-radius: 50%;
        margin: 0 4px;
        transition: background-color 0.3s;
      }

      .indicator-dot.active {
        background-color: #d01145;
      }
    }
  }
}